@model IEnumerable<VaccineChecker.Models.student>

@{
    ViewData["Title"] = "Students list";
}

<h1>Students List</h1>

<p>
    <a asp-action="CreateStudent" class="btn btn-primary" asp-controller="admin">Create New</a>
</p>

<p>
    <a asp-action="index" class="btn btn-primary" asp-controller="admin">Back to dashboard</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Email
            </th>
            <th>
                Faculty
            </th>
            <th>
                vaccinated
            </th>
          @*  <th>
                @Html.DisplayNameFor(model => model.certificateImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.personalImage)
            </th>*@
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.faculty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vaccined)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.certificateImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.personalImage)
            </td>*@
            <td>
                <a asp-action="editstudent" asp-route-id="@item.NationalID">Edit</a> |
               @* <a asp-action="Details" asp-route-id="@item.NationalID">Details</a> |*@
                <a asp-action="showdelete" asp-route-id="@item.NationalID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
